<!DOCTYPE html>
<html lang="eng">
    <head>
        <meta charset="UTF-8">
        <link href="/formStyle.css" rel="stylesheet">
    </head>
    <body>
        <div class="box">
            <h1>Sign up</h1>
            <div class="input-box">
                <form action="/auth/signup" method="post">
                    <input class="inputs" type="text" name="username" placeholder="Username">
                    <!-- <span class="error"></span><br> -->
                    <input class="inputs" id="pass" type="password" name="password" placeholder="Password">
                    <input class="inputs" id="rpass" type="password" name="rpassword" placeholder="Repeat Password"><br>
                    {{#if username_error_msg}}
                        <span class="error">{{username_error_msg}}</span><br>
                    {{/if}}
                    {{#if password_error_msg}}
                        <span class="error">{{password_error_msg}}</span><br>
                    {{/if}}
                    {{#if signedup_msg}}
                        <span class="error">{{signedup_msg}}</span><br>
                    {{/if}}
                    <input id="btn" type="submit" name="insert" value="Submit">
                </form>
            </div>
        </div>